/* style.css */

/* Reset sederhana */
body {
  padding: 1rem;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

/* Container utama */
.report-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.report-header {
  background: #004085;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.report-header h1 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

/* Tabel */
.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.report-table th,
.report-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.report-table th {
  background: #007bff;
  color: white;
}

.report-table tr:nth-child(even) {
  background: #f9f9f9;
}

.report-table tr:hover {
  background: #e2e6ea;
}

/* Footer */
.report-footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #666;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 kolom sama lebar */
  gap: 0.4rem; /* jarak antar tombol */
  margin-bottom: 80px;
}

.tabs button {
  width: 100%;
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #ff5b2a;
  background: #000000;
  /* background-color: #FF5B2A; */
  color: #ff5b2a;
  cursor: pointer;
  letter-spacing: 1px;
}

.tabs button.active {
  background: #ff5b2a;
  /* background-color: #FF5B2A; */
  color: white;
  font-weight: 700;
}

.day-content {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 16px;
}

.day-content.active {
  display: block;
}

.selected-date {
  background: hsla(14, 100%, 58%, 0.1);
  border: 1px solid #ff5b2a;
  max-width: 200px;
  text-align: center!;
  padding: 8px;
  margin-bottom: 16px;
}

section {
  background: white;
  margin-bottom: 1rem;
  padding: 16px;
  border: 1px solid hsla(14, 100%, 58%, 0.1);
  box-shadow: 4px 12px 40px 0 rgba(0, 0, 0, 0.064);
  border-radius: 20px;
}

section h1{
  margin-top: 8px;
  margin-bottom: 16px;
}

section > div > ul > li {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* color:#000000; */
  /* position:relative; */
}

section > div > ul > li > strong {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

section > div > ul > li > strong::before {
  content: "👤";
  width: 28px;
  height: 28px;
  background: hsla(0, 0%, 0%, 0.12);
  border: 1px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 32px;
  position: inline-block;
  display:flex;justify-content: center;align-items: center;
}

.text-primary {
  color: #ff5b2a;
}

section > div > ul > li > a,
.teks-link{
  color:#ff5b2a!;
}
